[2015-06-25 03:31] DamonOehlman opened #1 "Expressions of Interest: Talks and Workshops"
Talks, content, workshops, panels, etc.  I should clarify that this issue is for gathering interest from people want to help gather content.  This group of people will be responsible for creating a "Call for Content" mechanism and open review process for the event :)

If you have a talk suggestion, then you might need to bide your time a little...

[2015-06-25 03:33] KoryNunn commented on #1
Edit: Didn't read good. Happy to help though.

[2015-06-25 03:34] DamonOehlman opened #2 "Expressions of Interest: Diversity"
Ensuring that the event is respectful to all parties attending, plus working with the Talks crew to help ensure that attendees have the opportunity to see "people like themselves" contributing to the knowledge sharing that makes CampJS awesome.

[2015-06-25 03:34] SomeoneWeird commented on #1
*raises hand to help run things*

[2015-06-25 03:34] DamonOehlman opened #3 "Expressions of Interest: Social"
Folks who want to help make sure that CampJS is as welcoming and inclusive as possible, but also a whole pile of fun!

[2015-06-25 03:35] DamonOehlman opened #4 "Expressions of Interest: Sponsorship and Swag"
Our sponsors make a big difference to our event, and this is where a lot of effort is required.  If you are good at talking to companies and helping them support community events like CampJS - please get involved :)

[2015-06-25 03:37] DamonOehlman opened #5 "Expressions of Interest: Logistics"
All the stuff the people like me would forget.  This will quite possibly split into multiple groups (networking, transport, food, etc) but for now let's just get some names down if you feel you can help out in this way.

[2015-06-25 03:37] SomeoneWeird commented on #5
_raises hand_

[2015-06-25 04:47] davidmason commented on #4
I am chasing up sponsorship from my employers. Looks good so far.

[2015-06-25 05:57] tjstebbing commented on #2
Happy to help if you'd like me to.

[2015-06-25 06:03] tjstebbing commented on #2
+1 for @AnnaGerber if she is interested :)

[2015-06-25 07:41] AnnaGerber commented on #2
Sure, happy to help however I can

[2015-06-25 11:29] timoxley commented on #1
I'll put my hand up for this, one thing I like to believe we've done well with at CampJS is the content.

I think we should do an anonymised CFP with the help from the diversity group, form a panel and then vote to gen an initial round of talks. Historically, the CFP produces only a small percentage of the talks that end up happening, most simply come through people approaching me or me approachin

[2015-06-26 00:38] MauriceButler commented on #1
Happy to help as well.

[2015-06-26 00:43] MauriceButler commented on #5
Happy to help with this too, can probably do some gofering etc.

[2015-06-28 00:06] AllyG commented on #4
Are the sponsorship packages basically the same as on the CampJS V Sponsorship doc? https://docs.google.com/document/d/1y6iQmHl0Cx-RGQeNGwcbpgs6b3gZ4YbV3Kbqz60KHT0/preview?pli=1

[2015-06-28 08:58] DamonOehlman commented on #4
@AllyG I think those tiers mostly worked well.  I would be tempted to simplify it down to only have 2K, 4K and 8K tiers with us highlighting that we are happy to talk to people should the packs not suit their needs.  While we value all the help we get from our sponsors, we did end up with a lot of people just going for the 1K pack as that was the advertised lowest.  So I wonder if more people woul

[2015-06-28 09:12] SomeoneWeird commented on #4
That's quite possible, maybe we should remove the 1K pack and say that we would be happy to accept lower sponsorship packs too (but we just don't list them) ?

[2015-06-29 00:21] DamonOehlman commented on #4
Yep with some wording about "we are happy to discuss smaller sponsorship packs for smaller companies and startups wishing to support CampJS" :)

[2015-06-29 02:18] MauriceButler commented on #1
Should we start asking for content suggestions sooner rather than later?

Also possibly register with some aggregators to attract international speakers?

something like https://calltospeakers.com/  (https://twitter.com/calltospeakers)

[2015-06-29 02:32] DamonOehlman commented on #1
I think getting in early with content suggestions make sense, but I'd defer to Tim's judgement on using an aggregator.  I know that because we endeavour to keep the costs of CampJS down, and sponsorship dollars are traditionally very hard fought we do need to be careful about blowing the budget on too many international speakers.

[2015-07-01 08:15] MelissaKaulfuss commented on #2
chalk me up too – happy to be involved :)

[2015-07-31 03:43] MauriceButler opened #6 "Current Status: Where are we at? Do we even have a venue?"
Sooo things have been quiet for a while, can we do a status update and maybe remind us all involved that this is a thing that needs our attention.

First thing would be do we still have a venue?

I believe Koonjewarre were going to give us one more event? (@nigelr to confirm maybe?)

Does that have a time out? its getting close to the end of the year so not much time to organise it for 2015.

[2015-07-31 04:05] SomeoneWeird commented on #6
@DamonOehlman

[2015-07-31 04:06] nigelr commented on #6
@MauriceButler Koonjewarrie are always an option (just call them and find dates).. I had heard that Sydney was the next camp.

[2015-07-31 04:52] MauriceButler commented on #6
Thats good then.

Maybe my mind made that up in a haze that we could not use them any more... I have no idea why...

I also though the next camp was QLD, this repos README says CampJS VI (to be hosted in Springbrook, QLD) but again maybe that has changed?

More reasons us like-minded people should get our heads together and confirm what we are trying to do.

[2015-07-31 04:57] DamonOehlman commented on #6
My understanding is that @timoxley had already secured the venue for as he said "one. last. campjs."

Date TBC though. @timoxley ?

[2015-07-31 04:58] DamonOehlman commented on #6
And yes @MauriceButler was just thinking this the other day...

[2015-07-31 06:03] KoryNunn commented on #6
AFAIK the Koonjewarrie venue is changing owners, and we have the chance to secure one more CampJS there before needing to renegotiate (@timoxley can confirm/invalidate)

There are a few options available for a venue if we run out of time, but obviously if Koonjewarrie is available.. Some options may include a Brisbane CBD venue (don't worry, still dorm-style), which I'd like to probe interest for.

[2015-07-31 06:33] SomeoneWeird commented on #6
Yeah, the owners delayed their handover for CampJS to host their next event there apparently.

[2015-07-31 06:38] DamonOehlman commented on #6
Absolutely, I'm certainly happy to help keep things moving along, but like Kory organising stuff isn't my strong suit.  I'd suggest that as long as we all keep each other honest we should be able to pull it off without too much stress.

Venue is definitely key though and I think @timoxley is still the only one with that information, though I've been meaning to get the information out of him (i.e.

[2015-07-31 06:39] DamonOehlman commented on #6
So on that note, big thanks to @MauriceButler for opening this issue :cake:

[2015-07-31 06:40] SomeoneWeird commented on #6
I guess the first thing that needs doing is deciding a date, which is also pursuant to venue availability.

[2015-07-31 06:41] DamonOehlman commented on #6
My thinking is that the date is already set (based on a conversation Tim has had with current Koonjewarrie owners), and just relies on Tim sharing it.  I might be wrong though.

[2015-07-31 06:52] MauriceButler commented on #6
/me eats cake :+1:

[2015-08-05 00:07] todthomson commented on #6
Do we have a date yet? It would be super cool to have a date so we can organise leave for the Friday/Monday :+1: :sunglasses:

[2015-08-05 00:33] DamonOehlman commented on #6
@nigelr Would you mind giving Koonjewarrie a call seeing as you have had previous dealings with them and see if they can catch you up on what @timoxley and they talked through.  I'm guessing Tim is either AFK or neck deep in some project work at the moment...

[2015-08-05 00:40] nigelr commented on #6
@damonOehlman could be other things!
![11822417_10207259559552726_4518498951811739234_n](https://cloud.githubusercontent.com/assets/14952/9075899/5781e6b0-3b5e-11e5-9305-0fa5763d2013.jpg)

[2015-08-05 02:31] SomeoneWeird commented on #6
Yay! Congrats @timoxley :)

[2015-08-05 03:05] timoxley commented on #6
Sorry, I was travelling. We have the Koonjewarre venue booked in for the weekend of the 20th of November. I've emailed you their contact details Damon.

[2015-08-05 03:10] DamonOehlman commented on #6
Woot - congrats Tim :)

Disregard my last email response...

I thought you were actually getting married in October.

Looking super sharp!

[2015-08-05 03:16] timoxley commented on #6
@DamonOehlman I am in fact getting married in November. This photo is just from the pre-wedding photo shoot.

[2015-08-05 03:23] DamonOehlman commented on #6
Ah, :camera:

Anyway, I've added the date to the README and which includes a link to the Lanyrd event details.  I'll drop a note on #1 to see if folks would like to use Lanyrd for getting proposals for talks in or something else.  I'll also try and work out how to add other people to the lanyrd event so we can distribute managing that also.

[2015-08-05 03:27] DamonOehlman commented on #1
A quick update is that we have a date confirmed for the event (see issue linked above) so I've gone ahead and created a Lanyrd event page for things.  Not sure if you folks want to use Lanyrd for managing Call for Speakers, etc, but they seem to offer that facility now.

Anyway, event page is here:

http://lanyrd.com/2015/campjsnews/

I've issued a claim for the event page (after creating it) so s

[2015-08-05 03:55] MauriceButler commented on #6
Woot! Progress and a date!

Next step speakers and flog tickets?

Making this a thing maybe? http://vi.campjs.com/

[2015-08-05 04:12] SomeoneWeird commented on #6
We can do that! I think Tim is the only one with DNS access for the domain, though.

[2015-08-05 04:35] timoxley commented on #6
I can change DNS, but I think @geoffreyd or @nigelr may need to be the ones to add other owners:

![image](https://cloud.githubusercontent.com/assets/43438/9078290/55c178c0-3b01-11e5-8e5d-bb8eb187355e.png)

[2015-08-05 04:56] geoffreyd commented on #6
@timoxley Who do you want added to DNS?

[2015-08-05 05:00] KoryNunn commented on #6
@geoffreyd http://vi.campjs.com/ should point somewhere

[2015-08-05 05:35] SomeoneWeird commented on #6
@geoffreyd potentially damon and myself?

[2015-08-05 05:47] geoffreyd commented on #6
@SomeoneWeird OK, going to need some emails to send invites to.

[2015-08-05 05:58] DamonOehlman commented on #6
@geoffreyd mine is damon.oehlman@gmail.com though I'm sure @SomeoneWeird will be a better long term contact for doing this kind of thing :)

[2015-08-05 06:01] SomeoneWeird commented on #6
adam@boxxen.org

[2015-08-05 06:02] geoffreyd commented on #6
OK, added ... I've also pointed vi.campjs.com -> CNAME -> campjs.github.io as the previous ones are.

[2015-08-05 06:02] SomeoneWeird commented on #6
:tada:

[2015-08-11 06:38] MauriceButler commented on #6
OK 6 days without anything visible going on im going to poke again.

***poke**

Next steps (possibly deserve thieir own issues?)
1. Website for vi.campjs.com to point at.
2. Ticket Sales

Here is my effort happy for this to be used or for someone to make some improvements.

[code]

Also ticket sales. Do we have an existing account / payment gateway? I think PIN was used last time?

[2015-08-11 06:39] SomeoneWeird commented on #6
Last ticket sales used Tito. We should probably just fork the CampJS V website for VI - path of least resistance.

[2015-08-11 08:32] DamonOehlman commented on #6
@MauriceButler thanks for the weekly prod. Keep it up.  Also, some of your best work there with the new site :)

@SomeoneWeird yep - ti.to was excellent and it should be a no brainer to create tickets for the next event there.  And forking the previous site is probably a good place to start, though surely amongst our number is someone with a creative urge to do something awesome...  if not, yes, l

[2015-08-11 08:41] DamonOehlman opened #7 "CampJS VI Budget"
As per my last comment in #6 I'm very keen for us to establish some kind of budget for this next camp.  I know Tim has been out of pocket for quite a few of the camps (I think we did manage to break even for the last camp).

Once we have some budget in place we can work backwards and do a best guestimate on ticket prices, etc.  If possible I'd like to take some pressure off the sponsorship team as

[2015-08-11 08:48] SomeoneWeird commented on #7
Would be very useful to know what the prices are per person for the actual venue.

Some thoughts off the top of my head:
- Drinks (alcohol/softdrink/juice/whatever)
- Flights for international speakers (no idea if we've paid for ones previously)
- Projectors
- Speaker Equipment

[2015-08-11 10:32] weilu commented on #7
This is what we have last time:

## Attendance Dependent Costs

Accommodation
Lanyard
T-Shirt

## Fixed Costs

Bus (2 x 48 seat)
Tables
Food
Coffee
Fridges
Outdoor Table Umbrellas
Alcohol
Network Gear
Projectors
Video
Design
Stickers
Speaker Travel
Sound Systems

[2015-08-11 11:41] MauriceButler commented on #7
These lists are a great start, are we able to work back from ticket sales for last camp to how much each of these cost per person?

If not itemised at least a per person amount of $ we should target?

I assume $ values are not a secret and can be worked on here as this whole thing is open and not for profit anyway?

[2015-08-11 11:45] MauriceButler commented on #4
So this was mentioned off the cuff at work the other day but I can hopefully turn it into a real thing.

Can possibly get drinks sponsored by a "large liquor chain"

Is this something I should pursue or is there a standing supplier / relationship that needs to / should be honored?

If I can pull it off could assist with sponsorship / budget pressure as I assume (possible incorrectly) drinks are a

[2015-08-11 12:15] DamonOehlman commented on #7
I know @weilu reconciled $$$ after the last camp, but as I mentioned earlier Tim has always had a view that he would absorb some of the costs so I don't think its heavily itemized at this stage.  What I think we can do moving forward is set up a shared spreadsheet (I'm guessing Google Drive or something is going to be the best system unless someone has a better idea) with estimated costs and start

[2015-08-11 12:16] DamonOehlman commented on #7
Also, thanks @weilu for getting that list there - that's fantastic :)

[2015-08-11 12:19] SomeoneWeird commented on #7
@DamonOehlman to alphabet drive it is!

[2015-08-11 12:23] SomeoneWeird commented on #7
Do we have any idea about what's going to happen with money? Who is going to be in charge of collecting it etc?

[2015-08-11 12:25] DamonOehlman commented on #7
I'm hoping @timoxley and @weilu is still happy to be that conduit for this time around, which is why I'm very keen to make sure we cover costs.  Ideally if there is any money left in the kitty this time around we could use the funds to pay registration fees for whatever the thing is that is going to be the not-for-profit we starting talking about at the last camp.

[2015-08-11 12:27] DamonOehlman commented on #7
With a wedding around the same time though, I completely understand if this is too much for them.  If that is the case, then I'll look at pushing forward with some kind of organisation registration prior to the next event... :fearful:

[2015-08-11 12:40] DamonOehlman commented on #7
OK doc is here (anyone can comment):

https://docs.google.com/spreadsheets/d/1OxeFbpou22IrWcTS4ZMN--Wq8TywzPODVZkshfg4Dgs/edit?usp=sharing

Happy to provide people editing access that would like it also, just LMK.  If your email is public on you github profile then just let me know via a comment, otherwise email me (damon.oehlman@gmail.com).

[2015-08-11 12:46] DamonOehlman commented on #4
Drinks are definitely a part of the cost (I think around 3K - which is not as much as I thought they would be).  I tried a similar thing though with a supplier Lions Brewing and found they were actually limited in what they were allowed to sponsor, though an alcohol retailer might be able to do something :)

Basically every bit of sponsorship takes pressure off the bottom line, but I think we shou

[2015-08-11 12:53] SomeoneWeird commented on #6
Going to make a start on the new website, will just import the campjs5 one and start from there - need to get something up ASAP, we can change it after if need be.

[2015-08-11 13:00] SomeoneWeird commented on #1
We should probably start a CFP ASAP.

[2015-08-11 13:00] DamonOehlman commented on #6
Sounds good.  I'd go with the tickets on sale soon angle :)

[2015-08-11 13:48] SomeoneWeird commented on #6
http://vi.campjs.com/

[2015-08-11 14:02] MauriceButler commented on #6
much better than the 404 :+1:

[2015-08-11 14:14] hughsk commented on #4
You might want to contact Coopers, back when we were organising exhibitions in university they were supposedly always very willing to chip in with drinks sponsorship :)

[2015-08-17 02:38] DamonOehlman commented on #1
@SomeoneWeird @MauriceButler @timoxley Just checking in on this to see how folks are going?  Tim - I know you've had a process in the past and are keen to lead this effort, so maybe you want to point the folks in the right direction?

[2015-08-17 05:48] timoxley commented on #1
In the past I've set up a google form, then evaluate entries while also chasing down people I think will provide good content. Next I try to chat to each presenter about what type of stuff they're going to do so there's some cohesiveness about the camp. Note that most of the past CampJS content hasn't come at all from the CFP and submission numbers have historically been very low e.g. ~10-20.

[2015-08-17 05:50] timoxley commented on #1
Sadly, I'm probably going to have to bow out of organising this at all though  :cry:

[2015-08-17 06:08] MauriceButler commented on #1
Plenty of locals / regulars could be relied on, have been thinking of possible OS speakers not actually approached yet.

Probably depends on budget / sponsorships but I assume the incentive is come to australia and hang out with cool people. And possibly we could cover travel funds permitting?

[2015-08-17 06:10] timoxley commented on #1
We've done well in the past with "send speakers" as a form of sponsorship, have particularly appreciated this type of support from Mozilla, but important to note that AU companies typically want to sponsor a lot less than international companies and it's important to get sponsorship money from them along with the speaker.

[2015-08-17 06:12] DamonOehlman commented on #1
@timoxley yep, you'll be missed, but with a wedding to plan it's completely understood.

@MauriceButler @SomeoneWeird I'm happy to help out here as well, but it would be good to have someone driving this.  Are one of you happy to do this?

I'm keen for a good showing from locals, and I'll investigate options for seeing if there are any sponsors that are keen to send out a speaker also.

[2015-08-17 06:14] timoxley commented on #1
Because we run only 6 month in advance it's harder to lock sponsorships down before lining up the international speakers. Also sponsors can be very slow to reach an agreement with, or they'll do things like drop out two weeks before the event leaving us over ten thousand dollars short of the predicted budget, which comes out of my pocket… Good times.

Normally what I do is just try make an awesome

[2015-08-17 06:46] MauriceButler commented on #1
I really want to see this thing come together but like most am time poor atm...

In lieu of any other option in site I will run with it as much as I can but would love / need as much support as possible.

I would much prefer to lock in at least some tickets / sponsorship first so we know we can actually put on a decent camp but both of those things are harder without a speaker list.

Did any ticke

[2015-08-17 07:00] DamonOehlman commented on #1
OK, let's go with a content first approach for this Camp, being mindful of what resources we are strong on around the Brisbane / Gold Coast region.  For example, with a really strong contingent of nodebot folks it would be great to engage that community again (although they might be a bit worn out from previous camps).

Maybe we could do node rockets ;)

[2015-08-17 07:06] DamonOehlman opened #8 "I'd love to hear a talk on <INSERT TOPIC HERE>"
If you've attended or are thinking about attending [November's CampJS](http://vi.campjs.com/) please let us know what kind of technical (or non-technical) talks you'd like to hear in a comment below :)

[2015-08-17 07:06] DamonOehlman commented on #1
Will tweet #8 to help us determine popular content (if it works that is).

[2015-08-17 07:20] MauriceButler commented on #1
Very good. Ill start asking around a bit more aggressively.

[2015-08-17 08:53] bevacqua commented on #8
Anything on: web audio, webrtc, service workers, webgl, webvr, mad science _(p2p, bitcoin, crypto, sec)_, http/2

Just throwing interesting newish things out there

[2015-08-17 10:05] AnnaGerber commented on #8
Techical:
- Building cross-platform apps using Electron (or similar)
- Hands-on with Workers (workshop)

Fun:
- Web MIDI API
- Modding /  doing other cool stuff with Minecraft with JS

[2015-08-17 11:27] yoshuawuyts commented on #8
- audio
- graphics
- robotics (revenge of the node{copters,boats}?)
- p2p

Combine subjects for extra points. Add MVC tooling to get points deducted.

[2015-08-17 12:13] SomeoneWeird commented on #1
I can ask around, but not sure how much time I can dedicate over the next couple weeks unfortunately - oversees for work :(

[2015-08-17 12:53] MauriceButler commented on #8
+1 for Hands-on with Workers (workshop) (@ashkyd maybe ?)

[2015-08-18 02:26] MauriceButler opened #9 "Ticket Sales"
So in #6 it was mentioned we used ti.to last time and it was great.

Do we have an existing account with ti.to ?

Personally I think we should get tickets sellable and the link on the website ASAP for a few reasons

1. We are getting really close to the date and need to start locking in people before other plans get made
2. Will assist with budgeting and ease some of the unknow around budget
3. I

[2015-08-18 02:28] MauriceButler commented on #6
I am thinking this issue can probably be closed now as I believe the touch points have been done or broken out into other issues.

[2015-08-18 02:28] #6 closed

[2015-08-18 02:31] MauriceButler commented on #5
Am I too forward in assume you will be available and willing to help by applying your amazing skills with networking / internet / all the magic no one knows happens behind the scenes @geoffreyd ?

@eugeneware possibly aswell ?

[2015-08-18 02:31] DamonOehlman commented on #9
So yes, we have a ti.to account and it is excellent.

I don't agree that we need to get ticket sales up before we have a realistic baseline cost worked out for the event. Definitely agree that we need to confirm 4 but I'm not sure how getting ticket sales up will help sort this out.

I personally think some of the early, early, early bird low priced tickets have been a bit of a problem as they run

[2015-08-18 02:36] DamonOehlman commented on #9
To give some context, here is a screenshot of ticket sales data for CampJS V:

![campjs-ticket-sales-overtime](https://cloud.githubusercontent.com/assets/609693/9321128/a2643452-45a5-11e5-99d5-d30bd1046c57.png)

Initial run for early, early, early bird tickets.  And then the bulk of the sales in the month or two before the event...

[2015-08-18 02:36] MauriceButler commented on #9
I agree the baseline / ticket cost needs to be confirmed before this is done but am also trying to use issue as a push for those tasks too :smirk:

Import actions for this issue right now is as above were there any presales.

[2015-08-18 02:37] DamonOehlman commented on #9
Yeah, that's a good plan :)  Love your work.

[2015-08-18 02:37] MauriceButler commented on #9
Very good that info is helpfull.

Also proves though we need to get into gear as we are only ~3 months out.

[2015-08-18 02:42] SomeoneWeird commented on #5
Yeah, myself, mp, deoxxa & eugene have managed the intranet/internet for the last few campjs's, I'm sure whoever goes to the next one can help too.

[2015-08-18 02:46] MauriceButler commented on #5
Very good. I will leave it in your collective, capable hands then.

[2015-08-18 02:47] DamonOehlman commented on #9
True.  I've emailed Koonjewarre to try and get an understanding of the primary accommodation / food costs.

[2015-08-18 02:48] DamonOehlman commented on #5
I might close this issue and kick off the three separate threads as I originally mentioned.  Sounds like networking is well thought about, but I do think we need to have some discussion around transport (especially buses to and from the airport).

[2015-08-18 02:48] #5 closed

[2015-08-18 02:49] DamonOehlman opened #10 "Networking Crew"
@SomeoneWeird to take the reigns on pulling this one together - thanks Adam!

[2015-08-18 02:52] DamonOehlman opened #11 "Transport Crew"
We need to have some people who are excellent at coordinating things, to help organise transport to and from the venue from Gold Coast Airport.  Looking for volunteers but already know how good @iamkevinv is at crossing t's and dotting i's so wondering whether there'd be interest there?

[2015-08-18 02:54] DamonOehlman opened #12 "Beverages Crew"
Looking for some good people to help ensure that we have appropriate beverages for the event.

- Water
- Coffee
- Soft drinks (Soda Stream for laughs maybe?)
- Juice poppers
- Flavoured Milk (apparently a crowd favourite)
- Beer
- Wine

All items to be consumed in a responsible fashion.  Yes, even the water.

[2015-08-18 02:56] SomeoneWeird commented on #10
We have a few things at our disposal:
- 3x UniFi Pros
- ~200m of cat6 cable
- Mikrotik routerboard
- Gigabyte Brix box

ping @deoxxa @eugeneware @mipearson (if any of you guys don't want to help/aren't coming just let me know)

And for anyone else who has networking experience, your help would be extremely appreciated :tada:

[2015-08-18 02:57] SomeoneWeird commented on #12
I think we need softdrinks, at a minimum?

[2015-08-18 02:57] DamonOehlman commented on #12
Historically, we have always had alcohol included in the ticket price of the event.  We could consider this year having more of a BYO flavour though so those who aren't drinking don't feel like they are subsidising others drinking though.  Also, we do want to make this event feel more "everybody friendly" and alcohol has sometimes been working against this.

I don't really have an opinion but know

[2015-08-18 02:58] DamonOehlman commented on #12
@SomeoneWeird good call, edited.

[2015-08-18 02:59] DamonOehlman commented on #10
@MauriceButler do you think you'll be able to drag @liamoehlman along this year?

[2015-08-18 03:01] MauriceButler commented on #10
Again I maybe talking out of school but I recall we permanently installed / left a bunch of gear over the last few camps at Koonjewarre.

Is that included in the above list?

[2015-08-18 03:03] KoryNunn commented on #10
We've been constantly trying to get @liamoehlman to go, with no result.

[2015-08-18 03:03] MauriceButler commented on #10
@DamonOehlman He is right here beside me whinging about having to leave his room on a weekend... Ill do my best though and I am sure if we can get him there he will help out to the best of his ability.

[2015-08-18 03:09] MauriceButler commented on #12
Just to put into the right issue as stated in #4 I am working on obtaining some sponsorship / assistance from "large liquor chain". No guarantee yet but Ill update with more info as I have it.

[2015-08-18 03:11] johnlombardo-dev commented on #8
Seconding @AnnaGerber's technical suggestions.
- Electron, Ionic
- Workers, Lambda

[2015-08-18 03:12] SomeoneWeird commented on #10
I'm not sure if we ended up leaving anything at Koonjewarre, they do have pre-existing non-pro unifis around the place, though. We wired in our own as extras last time.

[2015-08-18 03:15] MauriceButler commented on #12
Additionally I have been pledged $500 from an anonymous donor so that can be added to the budget.

[2015-08-18 03:21] MauriceButler commented on #7
Do we need a tab / column for locked in sponsorships, ticket sales etc so we can see income vs expenditure?

[2015-08-18 03:24] KoryNunn commented on #12
I don't mind the idea of splitting attendance into BYO and Drinks tickets, since the consumption seems to vary quite a lot between attendees. Removing included drinks entirely would drastically change the vibe of CampJS, in my opinion, for the worse.

[2015-08-18 03:44] DamonOehlman commented on #12
Thanks @MauriceButler and @KoryNunn - I agree that the "just turn up" beauty of CampJS would take a hit if we didn't include drinks, especially given a lot of people travel from interstate.  I think the overheads of attempting to police "BYO" from "paid drinks" tickets would be a nightmare, so I think we should just keep things as they are.

Any issues that arise from consumption of alcohol to exc

[2015-08-18 03:46] SomeoneWeird commented on #12
It might be worth having a "help pay for drinks" ticket that is $xx more than a regular ticket, even if people who are drinking don't buy it, some will, and it will help more?

[2015-08-18 03:52] rvagg commented on #12
I like that idea @SomeoneWeird but that may call into play some perverse incentives, [this famous experiment](http://freakonomics.com/2013/10/23/what-makes-people-do-what-they-do/) suggests that we may be asking people to think of themselves as entitled to drink more if they pay extra.

There be dragons in social engineering.

[2015-08-18 04:00] MauriceButler commented on #12
I agree with @rvagg the unintended result may outway the benefit of such a ticket.

A similar approach might beat the end of camp there is an option to donate some money (anonymously?) to be used to make the next camp better.

This very well may be plagued by the same issues though.

[2015-08-18 04:04] DamonOehlman commented on #12
I think the correct action in this case is to take no action.  Let's leave it as is and remind people that we are an environment that encourages relaxing and having a good time, but if your behaviour causes someone else to not have a good time then we'll be dealing with that.  Editing the topic description to remove separation between the items...

[2015-08-18 04:07] DamonOehlman commented on #12
@MauriceButler you happy to keep an eye on this one then?

[2015-08-18 04:17] MauriceButler commented on #12
Yep I am being very careful not to spread myself too thin but Yes I will keep pushing my possible sponsorship angle and update this space.

[2015-08-18 04:19] KoryNunn opened #13 "Investigate funding via Indigogo or kickstarter"
The common theme amongst the budgeting issues seem to be around organisers not knowing exactly how much things will cost, or how many people will attend.

Indigogo or kickstarter may potentially improve both of these issues, by increasing visibility, and allowing for dynamic conference "features" as the funds go up.

I would personally love to put my money forward as soon as possible (and let othe

[2015-08-18 04:19] KoryNunn commented on #13
FYI this may not work this time around, but maybe in the future.

[2015-08-18 04:43] MauriceButler commented on #8
A good non technical topic that I have seen a many others enjoyed at other conferences was an explanation of contract law, worded in such a way that us non legal experts can understand.

I believe something along those lines would be a good addition as there are usually a number of freelances attending.

Ill see if I can track down the speakers.

[2015-08-18 04:45] SomeoneWeird commented on #12
@rvagg ah yes I didn't even think about that :)

[2015-08-18 05:34] timoxley commented on #11
I'd like to second the nomination @iamkevinv.

[2015-08-18 05:40] DamonOehlman commented on #13
@KoryNunn great idea mate.  I agree that doing something like this in the future would be an awesome idea. I particular like the idea of stretch goals (e.g. a bouncy castle).

I completely agree here also.  I wonder if we should do something on the CampJS VI site that shows who is attending meetup.com style so people get that visibility...

[2015-08-18 05:40] iamkevinv commented on #11
Me? Timely and organised? You sure about that? haha.
I can certainly be pedantic though so if that's what you were after, all
good. :)

On Tue, 18 Aug 2015 at 15:34 Tim Oxley notifications@github.com wrote:

[2015-08-18 05:44] MauriceButler commented on #13
Agree visibility of attendees on the site would be great.

[2015-08-18 05:44] garrows commented on #11
I would also like to vote for @iamkevinv :P

[2015-08-18 05:45] mipearson commented on #10
Not sure whether I'll be going - will get back to y'all. Team's gotten pretty big so sending everybody isn't as easy as it used to be :)

Koonjewarre has (had?) non-5ghz UniFI APs that were drastically underpowered for handling camp volumes. I think I may have managed to break the configuration of one of the APs last time I was there :(

[2015-08-18 05:45] DamonOehlman commented on #11
Motion carried.

[2015-08-18 05:46] SomeoneWeird commented on #11
This is totally up to him, remember guys :P

[2015-08-18 05:48] iamkevinv commented on #11
I feel like saying <ackbar>it's a trap</ackbar> but it's almost too obvious.
Okay so what's entailed here based on past experience?

On Tue, 18 Aug 2015 at 15:45 Damon Oehlman notifications@github.com wrote:

[2015-08-18 08:01] deoxxa commented on #10
I'm down to clown!

[2015-08-18 08:05] garrows commented on #13
This would probably be really good for sponsors too.

[2015-08-18 08:23] rvagg commented on #13
I like this idea, rewards can be tied to standard sponsor entitlements although I imagine many corporates would be hesitant to participate in it in this way and would rather be billed and pay directly.

[2015-08-18 08:39] SomeoneWeird commented on #13
I'm sure we could work something out if we end up doing this eventually.

[2015-08-18 08:47] mipearson commented on #13
Speaking as a "corporate": at the lower sponsorship tiers it makes sense.

[2015-08-18 09:03] geoffreyd commented on #12
One of the things we learned pretty early on was that having plenty of non Alcoholic drinks went down well. Soft drinks sure, but we've never been able to have enough juice poppers.

[2015-08-18 09:05] SomeoneWeird commented on #12
The flavoured milk was appreciated too, especially by @joshgillies

https://twitter.com/AliciaBatman/status/601697746064572418

[2015-08-18 09:09] DamonOehlman commented on #12
I'll update the description again :)

[2015-08-18 09:09] geoffreyd commented on #10
Yeah, the UniFi's we installed, I'm pretty sure are still there, They will be good for reaching the far corners, but we'll have to mix them with our own stuff for the main group areas ... probably some Airport Extremes.

Also the cable we ran across from the main hall to the second building must be getting pretty close to it's end of life, being that it was an indoor cable installed very much in t

[2015-08-18 09:11] DamonOehlman commented on #10
@geoffreyd I can probably get some outdoor cable sourced easily enough (Dad is a TV tech, used to do aerial installations, etc).  Just not sure how much before the event I'll be in the area, but looking to be there a day or two before with the family for a holiday if the timing works out :)

[2015-08-18 09:31] SomeoneWeird commented on #10
Yep. We still have 3 UniFi Pros in our possession, and a _lot_ of cat5/6(?) cable that we can hook up too.

[2015-08-18 10:06] DamonOehlman opened #14 "Association Registration"
Just had a quick look at the paperwork and it doesn't look too scary to formalise the creation of an association (at least in NSW):

https://ablis.business.gov.au/nsw/Resource/AP4550.pdf

Had a seriously quick skim over the [Fair Trading Model Constitution](http://www.fairtrading.nsw.gov.au/docs/Cooperatives_and_associations/Model_constitution.rtf) in all it's RTF glory and nothing seemed too scar

[2015-08-18 10:16] DamonOehlman commented on #14
Also, keeping it at two events a year we should remain under the $150K level for Non-profits having to register for GST (see: https://www.ato.gov.au/Non-profit/Your-organisation/GST/)

The more I read, the less scary this is seeming....

[2015-08-18 10:21] DamonOehlman commented on #14
Also, association fees:

http://www.fairtrading.nsw.gov.au/ftw/About_us/Our_services/Fees/Associations_fees.page

Looks like registration is probably less that $200 (need to pay both the registration and reservation of name costs I think).

[2015-08-18 10:22] SomeoneWeird commented on #14
This could be a good idea. Dinner time but I'll read through stuff when i get back :+1:

[2015-08-18 10:47] DamonOehlman commented on #9
ti.to page setup, people are able to register their interest:

https://ti.to/campjs/campjs-vi

Once we have pricing close to sorted (and any financial things sorted - see #14), we'll start releasing the first batch of tickets (quantity TBD).

[2015-08-18 10:58] joshgillies commented on #12
Flavoured milk would be greatly appreciated! :)
On 18 Aug 2015 19:09, "Damon Oehlman" notifications@github.com wrote:

[2015-08-18 11:05] DamonOehlman commented on #1
Preliminary call stuff added to lanyrd:

http://lanyrd.com/2015/campjsnews/calls/qdbgk/

Which leads to this form:

http://goo.gl/forms/3xensRuz2u

@SomeoneWeird @MauriceButler you both have editing access to fix any typos or wording that I've added that you think is either incorrect or sends the wrong message :)

[2015-08-18 12:32] SomeoneWeird commented on #14
@pomke suggested we try becoming a sub-committee for LCA
https://www.linux.org.au/sub-committees

[2015-08-18 12:38] tjstebbing commented on #14
pycon-au has done this very successfully for a while now, have a chat with Richard Jones who set it up afaik, he's a pretty cool dude, I'm sure he'd be happy to chat about it. From memory the benefits are:
- get a bank account
- get insurance cover
- potential for funding

cons:
- tied to LCA, have to abide by their sub-committee policy
- LCA itself has an open membership, some people in the LUG c

[2015-08-18 12:44] DamonOehlman commented on #14
@pomke @SomeoneWeird definitely something we should be open to, though I expect we will choose to go our own way in the longer term.  If it was something that was a good fit though I'd be pretty keen.  I know a few people already involved with LCA and those people have always been nice enough to deal with :)

I'll have a bit of a dig around regarding what's involved from the insurance side.  I'm n

[2015-08-18 12:52] SomeoneWeird commented on #14
For sure, other than that, I'm all for getting something set up, and am down for helping longer term.

[2015-08-18 12:54] tjstebbing commented on #12
random thoughts:
- The milks and the gingerbeer was a spur of the moment thing, they were there at aldi, I grabbed them and they went really fast.
- My diversity panel last campJS spurred some really good conversation about alcohol, I'm not going to repeat all of it as it was a non-recorded session but some of the items were important to consider. Suggestion of having a company provide a porta-bar

[2015-08-18 12:56] MauriceButler commented on #13
Additional thing to think about is the ~5% cut these places take.

Maybe that is acceptable for the benefits but need to keep in mind.

[2015-08-19 01:15] mipearson commented on #14
Hsssssssssss.

[2015-08-19 01:35] MauriceButler commented on #14
Long term being our own association would be best but time frames, insurance, etc might make it hard to be ready in time for this camp?

If we can pull it off great but we really are up against it time wise

[2015-08-19 01:42] mipearson commented on #12
Re #2: As soon as you take money for alcohol things become a lot more complicated.

[2015-08-19 01:43] mipearson commented on #12
Also - now that the expectation has been established, not offering alcoholic drinks as part of the ticket would kill attendance.

[2015-08-19 02:48] MauriceButler commented on #12
I kind of agree that the expectation has been established but maybe it can be achieved differently.

A combination of a couple of the above ideas.

Attendence Tickets are $X
Alcohol armbands are $Y

X + Y being roughly existing ticket price.

Have a bar for alcholic drinks but rather than a cash bar, armbands are required and is same as current system.

This means tickets to the event are cheaper,

[2015-08-19 02:59] todthomson commented on #12
@MauriceButler :+1: great idea

[2015-08-19 03:23] timoxley commented on #12
Who polices this?

This expectation might be stronger in those who have attended railscamps.

It may also attract different people, could even increase attendance.

I have a feeling it won't reduce ticket price that much… perhaps 10% – 15%.

[2015-08-19 03:26] KoryNunn commented on #12
Some issues I can see with the bar-style ticket system:
- Armbands would need to be reallocated daily as they get destroyed by activities/showers etc..
- Nothing stops arm-banders grabbing drinks for non-arm-banders (thus reducing supply for non-sharing arm-banders)

I reckon either leave drinks in (since the vast majority of attendees make use) or make it BYO (but that hurts people travelling)

[2015-08-19 03:26] mipearson commented on #12
Bowing out here. A "community brainstorm" is not a productive way to arrange something this complicated.

[2015-08-19 03:28] timoxley commented on #12
I suggest defer decision to diversity team.

[2015-08-19 04:19] DamonOehlman commented on #12
@timoxley :+1: Also, I think @mipearson has a good point here also, so I'll start a doc somewhere and open it up for comment for the diversity team.  I'll also try to make sure that the diversity team is represented with a fair cross section of existing participants and those we would like to engage in a better way.

[2015-08-19 04:27] DamonOehlman commented on #2
Hey folks - looks like the first issue where we require some assistance and consultation is around the discussion we had is around whether to include alcohol or not as part of the ticket price.  There has been some existing good discussion on #12 but I think @timoxley hit the nail on the head asking for this to be something that is first and foremost tackled as a diversity issue.

To that end, I w

[2015-08-19 06:26] AnnaGerber commented on #14
I was involved in incorporating an association (Brismesh Inc) in QLD in 2003. Getting a bank account and insurance are things that an Incorporated association can do anyway without being part of an umbrella group.

The hardest part of the paperwork was drafting the constitution (ie. rules), and it that case it involved many hours of drafting and editing, which we tried to do as a group but unfortu

[2015-08-19 06:44] DamonOehlman commented on #14
Thanks Anna.  You were involved with Brismesh - awesome!  I got close to getting involved with that, but never did :)

I'm happy to take on some of the administrative burden as long as there are a couple of willing other participants.  I really do feel like we've outgrown our current "just a group of people" structure.  This is most evident when we get to the point of collecting sponsorship dollar

[2015-08-19 06:53] mipearson commented on #14
Please have a chat to the people involved in Ruby Australia.

During the AGM at the RailsCamp they mentioned that they've had to learn the hard way on a lot of these hurdles and were more than willing to share their experience with other organisations wishing to do the same.

[2015-08-19 07:00] tjstebbing commented on #2
I think there are some issues that might need to be discussed OTR. I know that's going to make people upset with regard to the open gov. model.  (not going to talk about them now).

Personally I think (and I said this in the alcohol thread) there were some fantastic points raised toward the end of the diversity panel about alcohol which were counter-points to the 'but we have a precedent and if we

[2015-08-19 07:03] tjstebbing commented on #2
Actually on the point of openness and ticket prices, It would be good to start seeing post-camp breakdowns on what % of a ticket went to what cost (on the registration page maybe? at least for planning). Do we have this info from previous camps?

[2015-08-19 07:17] DamonOehlman commented on #14
Yep, I've previously chatted to @freshtonic about getting in touch with them prior to the last CampJS.  Any tips on who to talk to?

[2015-08-19 07:20] DamonOehlman commented on #2
@pomke Good points, and yes, I'll put an item on my list to be able to provide a % cost of where your CampJS V ticket price went so that information can be "above the fold" and talked about.

[2015-08-19 07:27] SomeoneWeird commented on #14
@melissakaulfuss HI

[2015-08-19 07:29] tjstebbing commented on #2
Some links :)
- https://modelviewculture.com/pieces/alcohol-and-inclusivity-planning-tech-events-with-non-alcoholic-options
- http://geekfeminism.wikia.com/wiki/Women-friendly_events#Alcohol

And

http://old.ryanfunduk.com/culture-of-exclusion/  which was specific to jsconf and their response:
http://www.voodootikigod.com/our-culture-of-change/

[2015-08-19 07:30] MelissaKaulfuss commented on #2
I agree with all the above – I think making alcohol less of a focus is
better for people that don't drink or don't feel comfortable with it.
That said, it's hospitable to provide drinks and I for one drink them, I
feel like it encourages a nice social environment – is that bad?

One option is to not supply them – but then – I'd expect to see a cheaper
ticket price, and the camp bus swing past a bo

[2015-08-19 07:31] MelissaKaulfuss commented on #14
hi?

On 19 August 2015 at 17:27, Adam Brady notifications@github.com wrote:

[2015-08-19 07:32] SomeoneWeird commented on #14
@MelissaKaulfuss haha sorry, do you have any experience with what Ruby Australia has done with regards to rubyconf and setting up a NFP?

[2015-08-19 07:34] MelissaKaulfuss commented on #14
No, it was Keith Pitty, I just spoke with Matta, you just need to speak
with an accountant apparently.
Along the lines of what Ben Schwarz said the other day.

On 19 August 2015 at 17:32, Adam Brady notifications@github.com wrote:

[2015-08-19 08:01] freshtonic commented on #14
@DamonOehlman Keith Pitty is the man to talk to. Do you guys need an introduction?

[2015-08-19 08:04] DamonOehlman commented on #14
@freshtonic @MelissaKaulfuss We've met IRL once before for DuckJS, so I'll DM Keith and get a conversation started.  Thanks for the lead.

[2015-08-19 08:05] freshtonic commented on #14
DuckJS is the answer to everything

[2015-08-19 12:42] DamonOehlman commented on #7
OK, I've reworked the spreadsheet pretty significantly to try and help work out the optimal ticket price based on some estimated costs.  Currently, I'm working the figures based the budget on potentially a BYO conference as there is some inertia in that direction, but nothing is fixed in stone so please don't stress too much about it.

The layout now is 3 main tabs with a some additional utility t

[2015-08-19 14:51] AnnaGerber commented on #2
Focusing on the questions of process raised above:

The issue of the legality of supplying alcohol and whether we will be exempt from requiring a liquor permit if we become an association is not a diversity issue and I would suggest the group should get some legal advice on this. Note that if the group gets a community license in QLD then BYO alcohol is not permitted.

Things the diversity crew ca

[2015-08-19 17:07] timoxley commented on #9
This is where we ran a sale under the direction of @eugeneware:

![image](https://cloud.githubusercontent.com/assets/43438/9363184/7df8ceba-46d7-11e5-9347-e8b9a1e16dd5.png)

[2015-08-19 17:16] timoxley commented on #7
Agreed! But people just don't buy tickets early unless there's some urgency, like a sale/discount ending – or the tickets are selling out. Human psychology. I would like to get the expert opinion of the mighty @eugeneware here.

[2015-08-19 17:19] timoxley commented on #7
@DamonOehlman This may be a too conservative. I'd suggest ~100 registrations minimum, ~110-120 probably, 130-140 max. We've never had less than 100 registrations by the start of the event, but we almost always have less than 100 only two or three weeks leading up to the event, which is harrowing.

[2015-08-19 17:23] timoxley commented on #7
@DamonOehlman

Would love to but we can't do it this time around, unless it's an emergency

[2015-08-19 17:27] timoxley commented on #9
Not this time.

[2015-08-19 22:27] DamonOehlman commented on #7
@timoxley Thanks for the responses.  Re finances, no worries at all.

[2015-08-19 23:24] DamonOehlman commented on #2
Thanks @AnnaGerber - yeah, it's starting to sound more and more that from a legal, not ethical standpoint we may need to be seen to be supplying alcohol.  In trying to keep costs lean for this event, I'm really trying to manage outlay of such things for legal advice, etc.  I'll start another issue with my wrapped up thoughts.

[2015-08-20 00:01] DamonOehlman opened #15 "State of the Nation - Where are we at now?"
Morning All,

Just wanted to provide a brief overview of where we are at with regards to CampJS VI.  Some of this is concrete and some of it is also my opinion:

## FACTS

- Koonjewarre is booked in for the 20 - 23 November (hooray).
- I've done some cost modelling for the camp in this [drive sheet](https://docs.google.com/spreadsheets/d/1OxeFbpou22IrWcTS4ZMN--Wq8TywzPODVZkshfg4Dgs/edit#gid=0).  R

[2015-08-20 01:30] eugeneware commented on #7
It's true (re: different ticket pricing and running promotions).

People don't buy unless there's some kind of deadline, and reason to make a decision today, rather than come back later. It sucks, and it can feel manipulative, but it's just how we're wired as human beings. That's why you see most of the successful conferences have early bird discounts, etc. Because it works.

Left to their own dev

[2015-08-20 04:20] DamonOehlman commented on #7
Thanks Eugene - what if we were to create 3 ticket releases.  Not time limited, but just quantity limited, e.g.:
- 40 x $320
- 40 x $350
- after that: $375

That puts us at an average ticket price of $335 for the first 80 tickets, and I think that feels pretty comfortable to me.

[2015-08-20 06:03] eugeneware commented on #7
I've done quantity based stuff in the past as well, and it works IF they actually sell out. Selling 40 tickets in a short period of time is actually a pretty hard ask. So if doesn't sell out in a period of 1-2 weeks then it doesn't really help achieve the urgency to take action.

So, you need to know that you're going to sell out quickly.

I generally combine the two (quantity and time scarcity).

[2015-08-20 10:50] DamonOehlman commented on #7
Thanks again Eugene, definitely gives me some good food for thought.

[2015-08-20 11:06] MauriceButler commented on #11
Hey @iamkevinv I don't know exactly but I would assume.
- Collation of attendees and when / how they are arriving (google spreadsheet worked last time?)
- Organisation of the bus hire to and from the venue to suit those times / numbers (Brisbane Bus lines maybe?)
- Delegation of rounding up people at pick-up points to ensure everyone is accounted for.
- Possibly waking everyone up on the Monday mo

[2015-08-20 13:46] timoxley commented on #7
Suggest perhaps we could use math to increase the ticket by a little bit price every day. edit: ugh. actually not sure if that will work either. Dunno.

[2015-08-20 13:56] timoxley commented on #15
CampJS might be able to cash in on the fact that jsconf.asia is happening just prior to campjs – perhaps we could drag some of their speakers over the water to CampJS during the same trip.

[2015-08-20 14:36] DamonOehlman commented on #7
Yeah, I like that idea :)

[2015-08-20 22:50] MauriceButler commented on #15
@timoxley I have been looking at what other conferences are around the same time and trying to work out how to approach speakers on short notice.

Do you have a contact there that might be inclined to let us "borrow" their speaker list?

[2015-08-22 07:54] DamonOehlman commented on #14
Just by way of an update, I feel like it might be ok for me to manage through a personal bank account (already have one that is nicely isolated) given what I have read here:

https://www.ourcommunity.com.au/management/view_help_sheet.do?articleid=2101

This might be a good way to ensure we can get ticket sales cranking along now.

[2015-08-23 10:20] DamonOehlman opened #16 "Tickets are on Sale (August Early Bird - $330) !!!"
Evening All,

OK - Tickets are on sale.  I've decided to park the association registration prior to CampJS VI, but will have some paperwork with me at the event so we can get the ball rolling there and migrate from an "unincorporated association" into an "incorporated association".

But that's all pretty boring. Much more exciting is that you can now purchase CampJS VI tickets through the followin

[2015-08-23 10:23] SomeoneWeird commented on #16
:tada:

[2015-08-23 10:23] DamonOehlman commented on #7
Thanks for all the really great discussion in this thread.  I'm going to close it now to try and keep the issue list tight, but I imagine I'll be referring back to it soon in the future.

Also, tickets on sale - see #16 :)

[2015-08-23 10:23] #7 closed

[2015-08-23 10:23] DamonOehlman commented on #9
Closed by #16

[2015-08-23 10:23] #9 closed

[2015-08-23 11:07] DamonOehlman commented on #12
As mentioned in #15 the event will be BYO until we get some clear information on what ability we have to legally and responsibly supply alcohol at the event.  Some docs I have found and am currently perusing:
- https://publications.qld.gov.au/storage/f/2014-06-20T05%3A14%3A01.993Z/information-for-community-groups.pdf (QLD)
- https://publications.qld.gov.au/storage/f/2014-06-17T02%3A12%3A15.110Z/fo

[2015-08-23 12:21] SomeoneWeird commented on #16
One of the guys over at Pin Payment have said they're willing to help with card processing fees, it would probably require us implementing something on the website but [pins payment buttons](https://pin.net.au/docs/guides/payment-buttons) don't look bad and probably wouldn't take too long. Will look into it more in the next couple of days when I get a chance.

[2015-08-23 12:41] DamonOehlman commented on #16
That would be great.  I'm currently using Stripe just because I had it previously connected to the isolated account that I'll use to handle finances for CampJS VI.  I'll get the same account authorized with the pin account that I set up so we can switch across pronto if its a good fit.

[2015-08-23 12:45] DamonOehlman commented on #16
Hmmm, a bit of a roadblock on pin setup (account username: damon@campjs.com) as the financial information setup requires an ABN and CampJS does not have one.  To do the finances for the camp, the account name on the pin account will probably have to be something like:

"Damon Oehlman as trustee for CampJS VI"

[2015-08-23 22:38] DamonOehlman commented on #14
An email exchange with my accountant (names changed to protect the innocent) for those that are interested.

My questions:

Accountant's response:

As previously mentioned in other issues, we won't be getting the association setup prior to CampJS VI but I'd like to make sure we make our best effort to get this sorted at the next event!

[2015-08-23 23:52] davekinkead commented on #12
Understand we have to play by any govt rules but I for one am very sad to see this move to BYO.

One of the things that made CampJS special (for me at least) was the open & inclusive nature of not just people but organisation & pricing.  The event itself mirrored the best bits of OSS - everything was in-commons, nothing was transaction.

Now there will be mine & yours... did I bring enough ... whe

[2015-08-24 00:34] DamonOehlman commented on #12
Thanks Dave - I agree, the mine and yours thing is something I really want to avoid.  I know that your voice is in line with quite a few others so if we put our heads together I reckon we can probably come up with something.

[code]

[2015-08-24 00:37] DamonOehlman commented on #11
@timoxley Which bus company have you used in the past?  I can probably make contact soon to get a quote, etc and start getting things moving for organising the buses and hand over to @iamkevinv for the more fine grained logistics if Kev agrees to take it on :)

[2015-08-24 02:07] DamonOehlman opened #17 "Making BYO work"
Hey folks,

I know this has been a big change for everyone, but as an individual whose name is going to be tied to the organisation and finances for this event I was not comfortable with the legal and/or social impact for supplying alcohol at CampJS VI.  Any legal ramifications for mismanagement of supplied alcohol at the event would have impacted me personally, and thus my wife and kids too.  Thi

[2015-08-24 02:08] DamonOehlman commented on #12
Closing this to encourage more positive (i.e. making the decision right) conversation in #17

[2015-08-24 02:08] #12 closed

[2015-08-24 02:10] DamonOehlman commented on #2
Would be great to have a chat with you folks via skype, webrtc, etc sometime soon (or even all just hang out in a room on viewsource).  Keen to make sure we are doing all we can to make CampJS as welcoming as possible to all people :)

[2015-08-24 05:04] timoxley commented on #11
@DamonOehlman Murray's. One thing to note if looking at other bus companies is that they may or may not be aware of the few treacherous sections of road going up to the camp and need to be made aware. I believe there were issues with one campjs/railscamp and the bus had to turn around and go "the long way" which is an additional hour or so of slow, snaking travel.

[2015-08-24 05:10] DamonOehlman commented on #11
Thanks Tim - that was one of the reasons I asked.  If one of existing vendors are familiar with the road then I'm happy to stick with them :)

[2015-08-24 05:12] timoxley commented on #11
I suggest getting a few quotes anyway and pitting them against each other for a good price.

[2015-08-24 05:13] DamonOehlman commented on #11
:cagematch: (should be an emoji for this)

[2015-08-24 07:07] G-face commented on #4
Hey! Lookahead Search would be interested in sponsoring coffee :) Is that still available / an option?

[2015-08-24 07:21] DamonOehlman commented on #4
Absolutely Georgina!  I've done some preliminary investigations on some potential mobile barista's that could probably get to Koonjewarre.  Did you want me to do some further checking and put you guys in touch?  In many ways it might be simpler if you liase with them directly as you'll be able to claim the GST input credits etc :)

Thanks for the interest!

[2015-08-24 07:41] iamkevinv commented on #17
In due time, I just want to know where the cost saving of beer/wine will instead be spent. Because the early bird ticket i just bought didn't get cheaper (that's fine) and my heart wants to know it went to worthy replacement goodness.

[2015-08-24 08:12] DamonOehlman commented on #17
Sure thing Kev - some of that is covered in #15 and I'll happy to answer any additional questions (feel free to email me if you'd prefer - damon@campjs.com).  The financial modelling I have done is all available [here](https://docs.google.com/spreadsheets/d/1OxeFbpou22IrWcTS4ZMN--Wq8TywzPODVZkshfg4Dgs/edit#gid=0) for review and commenting as a few people have already done (originally linked in the

[2015-08-24 08:14] iamkevinv commented on #17
Nice :+1:

[2015-08-24 11:10] timoxley commented on #16
This is a shame, I feel some degree of loyalty to tito since we've been using them for CampJS since before they'd opened their doors to the public IIRC. If you have any problems with this new mob please note that tito always provided prompt support whenever there were issues and have even incorporated our feedback into their application e.g. their pin integration was added specifically at our requ

[2015-08-24 11:23] rvagg commented on #16
really nice experience with the new ticket purchasing system, +1 from me

[2015-08-24 13:22] DamonOehlman commented on #16
@timoxley yeah, I liked the ti.to experience too (had used them for organising Nodebots SYD last year also).  I wasn't aware that the pin integration had been added at our request that is definitely a nice feature, but super impressed that they did that.

I have to say though It really hit home once I started incorporating the ticket processing fees in the budget calculation sheet how much those p

[2015-08-24 13:27] xzyfer commented on #16
@DamonOehlman we've previously been able to secure ti.to sponsorship for previous community events in the form of lower transaction fees. This could be an avenue worth pursuing.

[2015-08-24 13:46] DamonOehlman commented on #16
@xzyfer thanks for the tip - I'll get in touch with them and have a chat about this.

[2015-08-24 22:50] DamonOehlman commented on #16
ti.to folks were excellent, we'll definitely talk to them again for doing the CampJS VII tickets (I don't think we should switch from ticket tailor now for VI unless there is a problem).  Also they are going to look at getting some of their unwritten policies for how they do currently support community events more visible so this can be easily discovered by community event organisers :)

[2015-08-24 23:48] DamonOehlman commented on #12
Also, just so everyone is aware I have made contact with Liquor and Gaming folks (from my personal email) with some "I've got a friend who is running an event" questions to get some concrete information on this issue.  This includes what our duties are as an event in our current BYO case also.

[2015-08-25 00:15] G-face commented on #4
Hey Damon, happy to speak directly with the baristas. Perhaps ping me an email introduction g@lookahead.com.au and I'll take it from there :)

Thanks!

[2015-08-27 05:04] timoxley commented on #8
@MauriceButler A good candidate for such a presentation would be https://twitter.com/melsherrin who I believe is a lawyer and has been to CampJS in the past.

[2015-08-27 05:09] timoxley commented on #8
Here's an idea for everyone who has suggested a topic:

@bevacqua, @AnnaGerber, @yoshuawuyts, @MauriceButler, @programbo

You – could – now see it as your responsibility to find & nominate candidates to deliver the content you suggested or… **consider just presenting the topic yourself**, whether you know the topic today or not. Signing yourself up to give a presentation is a great way to force yo

[2015-08-27 07:02] MauriceButler commented on #8
I have also been chatting with a couple of other legal minds who seem keen to be involved aswell https://twitter.com/Idealaw/status/633508471036448768

Also Ill try to lock @ashkyd in tonight at BrisJS drinks.

[2015-08-27 08:12] SomeoneWeird commented on #8
That would be awesome

[2015-08-31 00:38] voltrevo commented on #8
I know it's early days, but I'd love to hear about [WebAssembly](https://github.com/WebAssembly).

[2015-08-31 00:49] DamonOehlman commented on #8
:100: for web assembly - a very interesting topic.  @voltrevo any interest in doing some investigations yourself and presenting a talk on it?

[2015-08-31 01:36] DamonOehlman commented on #4
@davidmason would you mind chasing up your people at some stage please?  If Red Hat are keen I'm really interested in them coming on as a transport sponsor (i.e. covering the bus hire, or at least subsidising it).  Covering the full cost would give them "naming sponsor" rights - it would be the Red Hat bus to and from camp :)

[2015-09-02 02:07] pauljt commented on #8
So I asked about Web Assembly, but the response was that it might be a little early, with the standard still being defined and no representative prototypes yet. (But don't let me dampen any enthusiasm :)

What about WebVR? Anyone interested in that? (e.g. the stuff at http://mozvr.com/ ) I might be able to find someone to present on that, or if not there are lots of materials available that someon

[2015-09-02 03:39] DamonOehlman commented on #8
@pauljt thanks for asking around re webassembly.  If it is still very much in the forming/storming phase then it probably is best left for an event sometime in the future...

The WebVR stuff does look pretty interesting so if there is someone within the Mozilla family who is keen to come out and present on it, I think we'd definitely be interested.

[2015-09-02 22:36] davidmason commented on #4
@DamonOehlman looking into it.

[2015-09-03 00:33] DamonOehlman commented on #4
Thanks David - also if you see @lukebrooker around the halls of Red Hat, remind him he should come along too :)

[2015-09-03 00:33] DamonOehlman commented on #16
Reckon we well and truly announce this.  Closing.

[2015-09-03 00:33] #16 closed

[2015-09-03 01:39] lukebrooker commented on #4
@DamonOehlman Don't worry I'll be there :wink: Just haven't got around to getting the ticket yet.

[2015-09-03 01:49] lukebrooker commented on #17
Just a quick idea on BYO. Would there be enough fridge space to give each BYO attendee a single row (front to back) in the fridge and have boxes of those coloured dot (or company) stickers and you put one on each of your drinks (maybe even with your initials or 'tag' :wink:)?

I'd only bring a six pack or two, but it would be nice to have room for at least a few at a time in the fridge. The sticke

[2015-09-05 22:41] garrows commented on #8
I'd love to hear a talk on marketing your shiny new thing.

[2015-09-06 07:21] DamonOehlman commented on #8
@garrows That's a good idea.  If @eugeneware can make this CampJS maybe he'd be up for it - no pressure though Eugene :)

[2015-09-08 02:53] DamonOehlman commented on #4
@davidmason Just a heads up that I've also pinged Steven Pousty who I know from my days doing geo stuff.  If you haven't got much traction yet, I'll put a proposal together around the transport and send it through Steve.  I've outlined at a high level what I was thinking re transport and he thinks that it can probably work...

[2015-09-27 11:36] iamkevinv commented on #11
Right so i figured i'd pipe in here and say that i've been super smashed at work, so this has fallen off my radar. As i've been so kindly volunteered in for this - i guess i'd better do it otherwise it will become a big issue real fast. @timoxley if you have any prior documentation, contact numbers or methods that worked in the past, please pass them along as soon as you can - i'm sure it will hel

[2015-09-27 11:46] SomeoneWeird commented on #11
If stuff has come up and you're not able to help - I'm sure we can find someone else.

In the past we've given a list of attendees (incl their phone numbers) that have indicated that they want transport by bus. Usually everyone meets up at the bar in the airport (there's only 1, in the middle). Coolangatta is very small, there's only 2 bus places, one at each end of the airport. Last time the bus

[2015-09-27 11:53] iamkevinv commented on #11
Okay cool. That also helps. I'm busy yes - but many are, so i guess having a deputy will be helpful. I'd still really like to contribute as i've always said.

[2015-09-27 22:38] DamonOehlman commented on #11
@iamkevinv all good mate, I'm handling getting the quotes and sorting all that out, but if you are able to help on the day that would be awesome.  It's pretty close to locked down now too :)

[2015-09-27 23:27] iamkevinv commented on #11
OH! Well i'm relieved it's been so well handled but also disappointed i haven't been around to give you a hand in that case. No problem with being the transport contact. Send me all the details you have and i'll make sure i'm all over it :)

[2015-09-28 03:55] DamonOehlman opened #19 "Airport Transfers"
Looking to get this locked in with the bus company in the next couple of days, please let me know if this looks good.  Primarily, I'm trying to cater for the bulk of people arriving at the airport on the Friday around or slightly after noon, but having some ability for people to get their later if they are going to try and work the Friday and then take a later flight to the Gold Coast.  Monday is

[2015-09-28 03:59] DamonOehlman commented on #19
It's also worth noting that the estimated times at this stage, are based on very loose estimates made by me, but I'm hoping the bus company can also provide an estimate...

[2015-09-28 07:40] web-goddess commented on #19
LGTM. Just booked my flights! :)

[2015-09-28 08:49] ghost commented on #19
Looks rad. Lines up with the flights I had already booked. 👌
Thanks for organising this!

[2015-10-02 04:19] bguiz commented on #19
+1

[2015-10-02 04:33] bguiz commented on #13
Apart form KS/IGG, there's also Pozible, which is based here, and transacts in AUD.  Worth considering for that alone.

[2015-10-02 04:34] DamonOehlman commented on #19
I've also just made the morning departure bus pickup from 8:00am which will give folks a little more time if they are trying to catch a Monday morning flight before noon.

[2015-10-17 11:41] MauriceButler opened #20 "Coffee in the wee hours"
Just wanted to check what the coffee situation will be outside the hours the barista being supplied by Lookahead Search / @G-face will be working.

(I am assuming we do not have a team of baristas working round the clock, if so problem solved...)

Possibly we still need the pod machines we have had in the past to get us addicts through until the baristas are back on deck?

Im not sure if they were

[2015-10-17 11:54] DamonOehlman commented on #20
Hmmm, good question Maurice.  I'm not sure.  If the pod machines were CampJS owned, then I think it makes sense to have those available as well.  If not I can probably organise to purchase one pod machine with a sufficient supply of pods to satiate those night caffeine cravings...

[2015-10-19 00:56] G-face commented on #20
Hey @MauriceButler, official barista will be there 9.30am to 11.30am and 1.30pm to 3.30pm both days (so no barista coffee at midnight, I'm afraid). Pods sound cool though, if they're not around, we might be able to see if there's some filter options.. Let me know how you go.

[2015-10-19 01:02] SomeoneWeird commented on #20
Perhaps we can get someone to courier a pod machine up if we reimburse them?

[2015-10-19 01:06] DamonOehlman commented on #20
@G-face good point, I could pack my aeropress - I don't really use it here at home that much because I'm just not hipster enough... perfect for CampJS though :)

[2015-10-19 02:40] MauriceButler commented on #20
Usually there are a number of aeropress and chemex brought by people for their own requirements.

@nigelr might know the story of the existing pod machines?

[2015-10-19 02:49] DamonOehlman commented on #20
@MauriceButler yeah I heard through non-github channels that they might be stored at the venue.  Going to send David an email in the next couple of days about :allthethings: so I'll include a question on the pod machines also :)

[2015-10-26 02:36] DamonOehlman commented on #20
I've confirmed that the pod machines we used at the last event have been stored at the venue and thus are available for us again.  We just need to source some pods for the event.  These were Aldi Espressi machines right?

Also, a question asked on view source re milk (milk steamer, etc - cc @damncabbage):

https://viewsource.slack.com/archives/linux/p1445825348000142

[2015-10-26 02:59] nigelr commented on #20
@DamonOehlman they were woolworths machines...
We ordered extra milk which was delivered last time (unsure of how much)

[2015-10-26 03:13] DamonOehlman commented on #20
@nigelr Thanks mate - that makes things nice and easy then.  Will look to do an online order with woolworths closer to the event date then :)

[2015-10-28 06:43] iamkevinv commented on #11
Okay so i'm going to assume we'll need a survey sent to everyone to express their interest in getting an airport transfer, Their name, their phone number (critical), their flight number (can check if they are delayed which was an issue on the melb one), which pickup point they will be at, and which bus (2pm or 5pm) they want. I wanted to whip up some sort of check-in phone app for this purpose but

[2015-10-28 08:16] DamonOehlman commented on #11
@iamkevinv Yep good point - I've got a logistics survey started so I'll invite you to that and maybe you can build out that section :)

[2015-10-29 12:40] DamonOehlman commented on #11
I've added those questions Kev - thanks for the extra detail :)

[2015-10-29 14:32] DamonOehlman commented on #11
Survey goes out in the morning - so we'll start collecting info.

[2015-10-30 04:20] iamkevinv commented on #11
Mate, sorry about that, i didn't see your messages at all. I work all of teh hourz right now - blocking out other things. Glad i was able to give you the info though - that will help a lot.

So i can probably drive down to the airport for the first bus if you like so i can help herd humans as planned. Not sure if i'll stop off at the venue, drop off my stuff, then drive out south again....but at s

[2015-11-02 01:36] MauriceButler commented on #11
Nominating a deputy on each flight / time slot would mean you dont have to be there. That has worked in the past.

Once all the surveys are in then have a look for someone that might be willing to be a beacon and hit them up.

[2015-11-03 00:06] DamonOehlman commented on #10
Just had a phone conversation with Jeff Lynne @digitalcraft (who is currently minding the networking stuff the Digital8 office in BNE).  He's more than happy to help out with doing some network config at the event and also bring some additional gear.

Will bring:
- The CampJS networkinging stash (UniFis, network cable, etc)

Can bring:
- A server to host something like [dokku](https://github.com/p

[2015-11-03 00:40] MauriceButler commented on #10
:tada: Yay for Jeff!

[2015-11-03 00:45] SomeoneWeird commented on #10
Ok, awesome. Re powerboards, we had a lottt of them last time and iirc somebody bought them along

[2015-11-03 00:48] digitalcraft commented on #10
That was me. I picked the up from Nigel in a suitcase, and I still have them. 30-40 perhaps.
I will do up an inventory this weekend.

I have a bunch of HP micro servers which I am no longer using. I have no problems with donating these to CampJS. They are not hugely powerful. But they are portable and decent.

I will report back this weekend to see how Dokku goes on them.

[2015-11-03 01:12] DamonOehlman commented on #10
Thanks Jeff - really appreciate your help :)

[2015-11-03 01:15] rvagg opened #21 "Sound equipment"
@DamonOehlman has this been handled anywhere else yet? Do I need to make sure this happens?

Below is roughly the list we've used for the last two CampJS', from djwarehouse.com.au who service both locations for us. Delivery is more in VIC than in QLD hence the difference in totals at the bottom.

In the past 3 CampJS' I've taken care of sound gear and wine, splitting the expense across personal an

[2015-11-03 01:20] rvagg opened #22 "Wine"
The last 3 (or is it 4?) CampJS' I've provided wine, the intention is to come a bit closer to meeting the needs of the wine snobs amongst us (obviously not actually meeting those needs, but getting closer than would otherwise happen if we just told a bottle shop to give us whatever's selling well). I've done 4 cases for each, there has been excess at a couple of events because of the red/white spl

[2015-11-03 01:22] SomeoneWeird commented on #10
Awesome. We also have a fairly beefy gigabyte box that a mentioned elsewhere in this thread, but having more would be fantastic :)

[2015-11-03 01:23] rvagg commented on #22
I forgot to mention about glasses—we have some glasses at someone's house. Last I saw them was in QLD, we didn't have them in VIC but instead we got 4 dozen (I think) from the place down the road that we got other grog from and it didn't cost us any extra.

Does anyone know where the boxes of CampJS glasses are and if they can make it to Koonjawarree?

Alternatively, whoever is organising the beer

[2015-11-03 01:27] DamonOehlman commented on #21
@rvagg I've gone and sourced a whole pile of stuff from a local hire place (marquee, etc), including some [sound gear](http://www.gcpartyhire.com.au/index.php/Packages/PA-Package/flypage.tpl.html) (3 complete sets).  While I have no idea of the quality I think they will probably do the job (small mackie's should be pretty reliable).  Knew you were super busy with node related things so just took c

[2015-11-03 01:33] DamonOehlman commented on #22
Answered this mostly (I think) in #21 :)

Basically, with the BYO restriction this time around CampJS itself won't be supplying any alcohol (due to legal reasons, which we will look to resolve in the future as part of being an incorporated association), but companies and individuals are more than welcome to bring such things to share.  Happy to source glasses if required though.

[2015-11-03 03:12] rvagg commented on #21
ahhh, I hadn't tuned in to BYO being a thing this time, I realise it was discussed. I might just bring some of my personal stash to share then!

Sounds good on the sound gear front, you're killing it @DamonOehlman, don't push yourself so hard that you count yourself out of doing this ever again!

[2015-11-03 03:12] #21 closed

[2015-11-03 03:12] #22 closed

[2015-11-04 12:49] hackling commented on #17
So tonight I learned that campJS was going to be BYO this year. A friend told me, I disbelieved him, but could neither confirm or deny this information by looking at the campJS website. He then directed me to look for the github repo and check out the issues.

As someone who has been to a number of Railscamps, and a couple campJS as well, I kind of just assumed that booze was provided. I've even b

[2015-11-04 12:56] hackling commented on #17
Another suggestion along the lines of getting BYO to work:

Maybe encourage attendees to pool together and collectively sort out their alcohol needs.
If a bunch of people all pool together and buy the same kind of beer, than a lot issues with the fridge space is going to be solved as you won't have 80 people trying to put 80 different kinds of drinks in the fridge.

It'll also help avoid feel bads

[2015-11-04 21:36] DamonOehlman commented on #17
@hackling Yep, it was double-takes all round when I first announced that for this camp.  Apologies for the lack of info on the website, I'll see if I can we can put some information somewhere...

I think the idea of people pooling is a great idea, and would definitely encourage that.  Not sure how to help organise that but if you think of something let me know.  Additionally, to help manage things

[2015-11-04 21:54] hughsk commented on #17
Any chance of the bus stopping by a bottle shop on the way to the camp for those of us flying in? Not essential by any means, but I wouldn't mind having a few ciders over the weekend :)

[2015-11-04 22:10] DamonOehlman commented on #17
Yep - see #19 (there's a stopped planned at Dan Murphy's Robina for each of the inbound to CampJS transfer buses).

In the email I'm going to send out re alcohol, I'll be encouraging folks to do a pay online collect in-store kind of thing to try and keep the trip pretty snappy :)

[2015-11-05 01:20] lukebrooker commented on #17
@DamonOehlman If you need help with organising the drinks setup at the camp, I'd be happy to help.

[2015-11-05 03:31] hackling commented on #17
It's worth noting that Dan Murphy's offers free delivery on orders over $300.

[2015-11-05 04:50] DamonOehlman commented on #17
I think it's definitely worth someone getting in touch with Dan Murphy's to see if we can get a code that allows us to combine personal orders together for a batched delivery that would be awesome.  I can probably do this at some point, but if you are offering @lukebrooker that would be fantastic!

As much as I'd like to send a spreadsheet round asking for people's orders and batching it all up in

[2015-11-05 04:56] lukebrooker commented on #17
@DamonOehlman I was going to mention the spreadsheet idea, but had the same thoughts. It has worked well for me for car pooling in the past.

I'd be happy to look into our options. I did notice it was free delivery for "Metro" areas, not sure what Springbrook is considered. Even if considered regional, it should only be a small extra fee.

[2015-11-05 05:14] lukebrooker commented on #17
So… there isn't a way to do multiple separate orders and get them delivered.

But, everyone could do a click and collect order and have a _single person_ go and pick up the orders. Everyone would just need to _nominate that specific person_ when they place their order.

I'd be happy to do this, except I won't have my own car available to get down as I was going to car pool.

[2015-11-05 05:16] DamonOehlman commented on #17
Let me have a look at the bus lists, and see if I can identify some people that might be able to help.

[2015-11-05 05:22] DamonOehlman commented on #17
OK, there are lot's of friendly faces of people that are catching the early bus from the airport.  I'll make contact with a few of them directly and see if someone would be willing to take on the responsibility of designated drinks courier.

[2015-11-05 05:24] lukebrooker commented on #17
I went through the process and it looks pretty simple. We can even set a specific pickup date.

Here are the steps to be aware of:

![Choose a date for delivery](https://cloud.githubusercontent.com/assets/1305265/10960639/10e7b106-83d1-11e5-88d7-7577ccd4715d.jpg)

![screenshot-2015-11-05-15 19 25-v2](https://cloud.githubusercontent.com/assets/1305265/10960647/24d47f3c-83d1-11e5-824e-ceed0406b4e4.j

[2015-11-07 04:36] DamonOehlman commented on #17
I've had a chat with @toolmantim who is on the first bus for transfer from the airport and he is happy to be a pick up contact for the orders.  So use the following details for info:

First name: Tim
Last name: Lucas
Mobile Number: 0428 906 980

The above mobile number is actually a twilio number that is all configured to put through information into a trello board so we can track the orders that

[2015-11-07 05:05] toolmantim commented on #17
:+1:

[2015-11-07 09:16] lukebrooker commented on #17
Awesome. Good idea using Twilio.

I just remembered one other thing, is to make sure everyone chooses Robina as the store.

[2015-11-07 22:37] DamonOehlman opened #23 "International Visitors keen to hang around, need a place to crash :)"
Morning all - Have just been chatting to @juliangruber who will be coming from Germany and speaking at the event.  Julian is keen to possibly hang around for a couple of days after the event and check out the Gold Coast and/or Brisbane.  Just wondering if there's someone what might have a couch that he can crash on.

I've personally hung out with Julian and can vouch for him being a super nice guy

[2015-11-08 01:11] KoryNunn commented on #23
We've got a spare room, if Julian doesn't mind the location.

[2015-11-08 06:12] DamonOehlman opened #24 "Friday Evening / Saturday Morning Transport Help"
I've had an email or two from people who are unable to make it up in time to catch the late bus on Friday evening (leaves the Airport 5pm).  While some people have been able to arrange transport from friends themselves, there are others who don't know anyone in the area.

So I'm wondering if our broader community can help.  Is anyone considering coming up later on the Friday evening or possibly Sa

[2015-11-08 10:48] DamonOehlman commented on #17
OK, Just went through the process end-to-end and it all feels pretty solid.  Here's what my confirmation screen looked like just before payment:

![dan-murphys-beer](https://cloud.githubusercontent.com/assets/609693/11019895/e4661d32-8661-11e5-9d93-b057a3bed9e3.png)

The only surprising part of the process is the confirmation email post purchase where they address me as Tim.  No real problem there

[2015-11-08 22:26] OphelieL commented on #19
Early departure on Monday = awesome.

[2015-11-16 01:06] digitalcraft commented on #10
Does anyone know where this Gigabyte box would be?

So far I have proxy setup and AP's.
I see there is an intranet branch from last year.

So I'm thinking intranet + npm repository on Gigabyte brix.

[2015-11-16 01:10] SomeoneWeird commented on #10
Yeah, I have it at home. I don't get back into the country until Wednesday though :(

[2015-11-16 01:11] digitalcraft commented on #10
All good. I have a mac-mini thats spare right now.

[2015-11-17 03:03] iamkevinv commented on #11
I'll find the invite to the surveys. Need to feel organised. ;-)

[2015-11-17 03:05] DamonOehlman commented on #11
:)  @SomeoneWeird has volunteered to be the beacon for the 2pm bus.  And the 5pm bus had very few people so I've been talking to people who indicated a preference for catching that bus and working towards getting them in Uber's up to the campsite instead.  Will let you know more on that soon.

[2015-11-17 03:34] iamkevinv commented on #11
Ah awesome that saves me going back and forth a few times with a few pit
stops for fuel.
I'll check off attendance of those getting off the bus perhaps - to ensure
nobody was left behind and we have to order some uber for them.
I'll easily be able to direct people into busses and check off attendance
on each for those departing Monday.

On Tue, 17 Nov 2015 at 13:05 Damon Oehlman notifications@gith

[2015-11-17 03:36] SomeoneWeird commented on #11
Yeah that would be great :)

[2015-11-19 13:31] iamkevinv commented on #11
@DamonOehlman How did the ubers for latecomers go? I've downloaded a fresh survey set and filtered on those who said 'yes' on the making use of bus. @SomeoneWeird - Did you need a copy to be on the same page?

[2015-11-19 13:32] juliangruber commented on #23
Thank you for the offer @KoryNunn, but unfortunately I won't make it this year

[2015-11-19 13:33] SomeoneWeird commented on #11
Hm I've got a list too, but would be great if you could send me yours too just so I can cross check - adam@boxxen.org

Cya tomorrow :)

[2015-11-19 13:47] iamkevinv commented on #11
It is done.

[2015-11-30 21:58] #24 closed

[2015-12-02 10:36] #23 closed

[2015-12-02 10:50] DamonOehlman commented on #11
@iamkevinv thanks for helping get everyone to and from the camp :)

[2015-12-02 10:50] #11 closed

[2015-12-02 10:52] DamonOehlman commented on #10
@digitalcraft @porty a massive thanks from both @SomeoneWeird and myself for all your work, and everyone else who came along to the event.  Really appreciated everything :)

[2015-12-02 10:52] #10 closed

[2015-12-02 10:52] #8 closed

[2015-12-02 10:54] DamonOehlman commented on #19
Closing this, but if anyone has any feedback on the transfer times let me know and we can incorporate that for the next event :bus:

[2015-12-02 10:54] #19 closed

[2016-03-29 00:37] #20 closed

[2016-06-23 00:17] #15 closed

[2016-06-23 00:22] DamonOehlman commented on #14
Just for people's information, some progress is being made towards this by @twalve and @JedWatson (with input from @timoxley and others).  The scope of the organisation has grown beyond just CampJS and the intention now is to create an entity that covers all not-for-profit JS events in Australia.  Something like "JS Australia".  Closing this here for now, I would expect more news in the coming mon

[2016-06-23 00:22] #14 closed

[2016-06-23 00:22] #17 closed

[2016-06-23 00:25] #4 closed

[2016-06-23 00:25] #3 closed

[2016-06-23 00:25] #2 closed

[2016-06-23 00:25] #1 closed